# identity files
.gitignore

# Build directory
build
build_clang

# CLion IDE config caches
.idea
cmake-build-debug

# coverall.io token
.coveralls.yml

# VS IDE config caches
.vs

# KDE IDE config caches
.kdev4
*.kdev4

# Log files
*.log
